<div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
    <h1 class="text-2xl font-bold text-center text-green-600 mb-4">Account Verified</h1>
    <div class="text-center mb-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-green-500 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
    </div>
    <p class="text-gray-700 text-center mb-4">
        We've successfully verified the ownership of your account.
    </p>
    <p class="text-gray-700 text-center mb-6">
        Our Support team will send you a password reset link shortly. Please check your email inbox.
    </p>
    <div class="text-center">
        <a  class="text-blue-500 hover:text-blue-600 transition duration-300" asp-action="signup" asp-controller="Auth">Return to Home</a>
    </div>
</div>