@model List<Movie>

<main class="container mx-auto py-8">
    <h2 class="text-3xl font-bold text-center mb-8">Now Showing</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        @foreach (var item in Model)
        {
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="@item.MovieImage" alt="Movie 1 Poster" class="w-full h-64 object-cover">
                <div class="p-4">
                    <h3 class="font-bold text-xl mb-2">@item.Title</h3>
                    <p class="text-gray-600">@item.ReleaseDate</p>
                    <button class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Notify Me</button>
                </div>
            </div>
        }
    </div>
</main>
